/* Node Palette Container */
.node-palette {
    padding: 6px 30px;
    background: linear-gradient(145deg, #f8fafc 0%, #f1f5f9 100%);
    border: 1px solid #e2e8f0;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.node-palette-header {
    overflow: hidden;
    display: flex;
    height: 20%;
    overflow: hidden;
    gap: 10px;
}


/* Search Bar */
.search-bar {
    border: 1px solid #00000018;
    border-radius: 6px;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 10%;
    padding: 0px 6px;

}

.search-icon {
    width: 14px;
    height: 14px;
}

.node-palette input[type="text"] {
    padding: 11px 10px;
    font-size: 10px;
    border: none;
    height: 5px;
    width: 100%;
}

.node-palette input[type="text"]:focus {
    outline: none;
    border-color: #ffffff00;
    transform: translateY(-1px);
}


/* Tabs Container */
.node-palette-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

/* Tab Button */
.tab-btn {
    border: transparent;
    background: white;
    font-size: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
}

.tab-btn:hover {
    color: #5558f1;
}

.tab-btn.active {
    color: #5558f1;
    box-shadow: 0 8px 25px rgba(59, 62, 246, 0);
    transform: translateY(-2px);
    text-decoration: underline;
}

/* Nodes Grid */
.nodes-grid {
    display: flex;
    gap: 6px;
    max-height: 400px;
    padding-top: 7px;
}
/* Empty State */
.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9px 10px;
    color: #94a3b8;
    font-size: 10px;
}

.empty-state svg {
    width: 15px;
    height: 15px;
    margin-bottom: 12px;
    opacity: 0.5;
}

